body
{
    font: 14px/1.231 "Lato", sans-serif;
    background-color:#ECF0F1;
}

.menubar
{
    margin: 1px;
    padding: 1px;
    font-size:20px;
    border-style:solid;
    text-align:center;
}

.menubar:hover
{
    background-color:#16A085;
    border-color:#000000;
    color:#FFFFFF;
}
